.cardDesign {
    height: auto;
    width: 50em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #7a959e;

    border: .2em solid #424e5e;

    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;

    box-shadow: 0em 0em 3em .1em rgb(41, 41, 41);
}

.cardDesign img{
  height: 25em;
  width: 25em;
}

.cardUpdate {
    height: auto;
    width: auto;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color:  #7a959e;
  
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
  
    box-shadow: inset 0em 0em 1em .1em rgb(41, 41, 41);
  }

  .cardUpdate img{
    height: 25em;
    width: 25em;
  }

  .cardDesignServices{

    margin: 1em;

    background-color: rgba(240, 248, 255, 0);

    height: 30em;
    width: 100vw;

    border-radius: 0em;

    box-shadow: 0 0 0 0;
  }