.inputDesign {
    height: 2.4em;
    width: 19em;
    margin: 1em;

    background-color: rgb(58, 57, 57);
    border: 1px solid rgb(59, 59, 59);

    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;

    box-shadow: .5em 0.5em 1em .1em rgb(31, 31, 31);
}

.appointmentInput{
    border:0px;
    padding: .2em;
    background-color: rgba(245, 245, 220, 0);
    box-shadow: inset 0em 0em 7px .1px rgb(0, 0, 0);
}