.inputDesign {
    height: 2.4em;
    width: 19em;
    margin: 1em;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);

    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;

    box-shadow: inset 0em 0em .6em .1em rgba(31, 31, 31, 0.363);
}

.appointmentInput{
    border:0px;
    padding: .2em;
    background-color: rgba(245, 245, 220, 0);
    box-shadow: inset 0em 0em 7px .1px rgb(0, 0, 0);
}