.loginDesign{
    height: 75vh;
    width: 100vw;

    color: rgb(255, 255, 255);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: rgb(78, 78, 78);
}

.errorMsg {
    height: .5em;
    /* line-height: .9em; */
    transform: translateY(-.5em);
    color: rgb(0, 0, 0);
}