.buttonDesign{
    height: auto;
    width: auto;

    background-color: rgb(26, 134, 98);
    border:.1em solid black;

    margin: .5em;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;


    border-bottom-left-radius: .8em;
    border-top-right-radius: .8em;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: .5em 0.5em 1em .1em rgb(41, 41, 41);


    &:hover{
        background-color: aquamarine;
        cursor: pointer;
    }
}

.offButton{
    background-color: rgba(128, 128, 128, 0.562);
    color: rgba(255, 255, 255, 0.377);
    &:hover{
        background-color: rgba(128, 128, 128, 0.562);
    }
}
