.appointmentsDesign{
    height: 75%;
    width: 100vw;

    color: black;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    background-color: rgb(173, 163, 161);
}

.appointmentsDesignEmpty{
    height: 75vh;
}

.AppointmentsText{

    padding: .7em;

    border-bottom-left-radius: .8em;
    border-top-right-radius: .8em;

    background-color: rgba(100, 99, 99, 0.226);
}

.hide{
    display: none;
}