.textDesign {
    height: auto;
    width: 16em;
    margin: 1em;
    padding: .5em;
    /* margin-bottom: 2.4em;
    margin-top: 2.4em; */

    color: #424e5e;
    letter-spacing: .5em;
    font-weight: 500;
    text-decoration: none;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    border-bottom: .1em solid #424e5e;

}

.textDesignServices {
    margin: 0;
    height: 50vh;
    width: 100vw;
    border-radius: 0em;

    border-bottom: 1px solid black;

    flex-direction: row;
    justify-content: space-evenly;

    box-shadow: 0 0 0 0;
}

.reverse{
    flex-direction: row-reverse;
}

.textDesignAppointments {
    margin: 0;
    height: auto;
    width: 100vw;
    border-radius: 0em;

    border-bottom: 1px solid black;

    background-color: #ffffea;
    color: #3b2b46;



    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    box-shadow: 0 0 0 0;
}

.textDesignAppointmentsVersion{
    margin: 0;
    height: auto;
    width: 100vw;
    border-radius: 0em;

    border-bottom: 1px solid black;

    background-color: #7a959e;
    color: #3b2b46;



    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    box-shadow: 0 0 0 0;
}

.usersSuperadmin{
    height: auto;
}
