.navigatorDesign {
  height: 4em;
  width: 8em;
  color: #3b2b46;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: end;

  margin-right: 3em;
  margin-left: 3em;

  border-bottom: .1em solid #512f68;

  line-height: 2em;
  letter-spacing: .2em;

  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;

  transition: .2s;
  &:hover {
    align-items: center;
  
    transition: .2s;
  
    color: #512f68;
    border-bottom: .4em solid #512f68;
  
    cursor: pointer;
    
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  &:active{
    border-bottom: .1em solid #512f68;
    transition: .2s;
    align-items: end;


  }
}
