.headerDesign{
    height: 10vh;
    width: 100vw;

    color: black;

    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffea;
}

.headerRest {
    display: flex;
    
}