.headerDesign{
    height: 10vh;
    width: 100vw;

    color: black;

    border: .1em solid black;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(255, 255, 255);
}

.headerRest {
    display: flex;
    
}